<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Básico</title>
</head>
<body>
    <div class="container">
        <h1>Usuarios</h1>
        <hr>
        <div class="nav">
            <a href="/create">+ Crear Usuario</a>
            <form id="searchForm" action="/search" method="GET">
                <input type="text" id="search" name="query" placeholder="Buscar usuario">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>

            <!-- Lita de Usuarios-->
             <ul> 
                 <% users.forEach(user => {  %>  
                    <li>
                        <%= user.name %> -  - <%= user.email %> -   - <%= user.age %> años    ->
                        <a href="/edit/<%= user._id %>">Edit</a>
                        <a href="/delete/<%= user._id %>">Eliminar</a>
                    </li>
                <%   }) %>
             </ul>
        </div>
    </div>
</body>
</html>